@theme-custom__dark-blue-color: #00008b;
@theme-custom__blue-color: blue;
@theme-custom__product-page-link-color: #ff5501;
@theme-custom__light-red: #ffcccb;
@theme-custom__header-link-color: white;
@theme-custom__footer-link-color: white;
@theme-custom__tab-text-color: white;
@theme-custom__submenu-link-color: black;
@theme-custom__nav-element-color: white;

@theme-custom__message-color-text: white;
@theme-custom__success_message_color: @theme-custom__dark-blue-color;
@theme-custom__success_message_icon_color: @theme-custom__blue-color;
@theme-custom__info_message_color: @theme-custom__blue-color;
@theme-custom__info_message_icon_color: #7c7ce8;
@theme-custom__warning_message_color: @theme-custom__light-red;
@theme-custom__warning_message_icon_color: #de5757;

& when (@media-common = true) {
    .page-wrapper {
        .page-header {
            .panel.wrapper {
                background-color: @theme-custom__dark-blue-color;
            }
        }

        .copyright {
            background-color: @theme-custom__dark-blue-color;
        }

        .section-item-content.nav-sections-item-content,
        .section-item-content.nav-sections-item-content .navigation,
        .page-footer {
            background-color: @theme-custom__blue-color;
        }

        .page-main {
            .product.data.items {
                .data.item.title {
                    &.active {
                        .data.switch {
                            background-color: @theme-custom__blue-color;
                        }
                    }

                    .data.switch {
                        background-color: @theme-custom__dark-blue-color;
                        color: @theme-custom__tab-text-color;

                        &:hover {
                            background-color: @theme-custom__blue-color;
                        }
                    }
                }
            }
        }

        a {
            color: @theme-custom__product-page-link-color;
        }

        .footer.content {
            .links {
                a {
                    color: @theme-custom__footer-link-color;
                }

                .nav.item{
                    background-color: @theme-custom__blue-color;
                }
            }
        }

        .navigation {
            li {
                a.level-top {
                    span {
                        color: @theme-custom__header-link-color;
                    }
                }
            }

            .submenu{
                a{
                    span{
                        color: @theme-custom__submenu-link-color;
                    }
                }
            }
        }
    }

    .messages {
        .message {
            div {
                color: @theme-custom__message-color-text;
            }

            &.success {
                background-color: @theme-custom__success_message_color;

                div:before {
                    color: @theme-custom__success_message_icon_color;
                }
            }

            &.info {
                background-color: @theme-custom__info_message_color;

                div:before {
                    color: @theme-custom__info_message_icon_color;
                }
            }

            &.warning {
                background-color: @theme-custom__warning_message_color;

                div:before {
                    color: @theme-custom__warning_message_icon_color;
                }
            }
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
    .page-header{
        background-color: @theme-custom__dark-blue-color;

        span.nav-toggle:before,
        .field.search label:before,
        .minicart-wrapper .action.showcart:before{
                color: @theme-custom__nav-element-color;
        }
    }

    .navigation {
        .level-top.parent{
            a.level-top.ui-corner-all{
                color: @theme-custom__nav-element-color;
            }
        }

        ul.submenu{
            .level1,
            .level2{
                a{
                    span{
                        color: @theme-custom__nav-element-color;
                    }
                }
            }
        }
    }
}